
#siglas{
    margin-top: 40px;
}

#campo_siglas{
    margin-left: 15px;
}

table{
    margin-top: 100px;
}

input{
    width: 400px;
}

form{
    width: 500px;
    margin-left: 570px;
    
}

@media(max-width: 780px){


form{
    margin-left: 300px;
}




}




