#aceptar{
    margin-top: 70px;
    margin-left: 100px;
}

#campo_ci{
    margin-left: -80px;
}




@media(max-width: 780px){
    #nueva_búsqueda{
        margin-left: -200px;
    }

    form{
        margin-left: 400px;
    }


    
}